{% macro getRepeatablePrototype(form, groupName, fields) %}
{% filter escape %}
	<section class="group">
		{% for field in fields %}
		{{ form_row(form[groupName][field].vars.prototype) }}
		{% endfor %}
		<a href="#" data-group-remove class="button small remove">Remove this group</a>
	</section>
{% endfilter %}
{% endmacro %}
{% extends '::edit' %}
{% block form %}

{{ form_start(form) }}

{# Loop through content parts #}
{% for name, part in content %}
	{# If this part is not repeatable group #}
	{% if repeatables[name] is null %}
		{# If this part is a group, output the title & description, then each field in it #}
		{% if part.getFields is not null %}
		<section class="group">
			<h2>{{ 'page.' ~ page.type.getName ~ '.' ~ name ~ '.name'|trans }}</h2>
			<section class="group">
				{% for field in part.getFields %}
				{{ form_row(form[name][field.getName]) }}
				{% endfor %}
			</section>
			<div class="help">
				<p>{{ 'page.' ~ page.type.getName ~ '.' ~ name ~ '.description'|trans }}</p>
			</div>
		</section>
		{# If this part is a normal field, just output it #}
		{% else %}
		{{ form_row(form[name]) }}
		{% endif %}
	{# If this content part is a repeatable group, output the title & description, then each group #}
	{% else %}
		<section class="repeatable-group">
			<h2>{{ ('page.' ~ page.type.getName ~ '.' ~ name ~ '.name')|trans }}</h2>
			<div class="container">
				{% if part.count > 0 %}
				{% for i in range(0, part.count - 1) %}
					<section class="group">
						<h1 class="title">Needs a title</h1>
						{% for field in repeatables[name] %}
						{{ form_row(form[name][field][i]) }}
						{% endfor %}
						<a href="#" data-group-remove class="button small remove">Remove this group</a>
					</section>
				{% endfor %}
				{% else %}
				{% do form[name].setRendered %}
				{% endif %}
			</div>
			<div class="add-group">
				<a href="#" data-group-add data-prototype="{{ _self.getRepeatablePrototype(form, name, repeatables[name]) }}" data-group-index="{{ part.count }}" class="button small add">
						{{ 'ms.cms.repeatable_group.add'|transchoice(part.count, {'%name%': ('page.' ~ page.type.getName ~ '.' ~ name ~ '.singularName')|trans|lower}) }}
				</a>				
			</div>

			<div class="help">
				<p>{{ ('page.' ~ page.type.getName ~ '.' ~ name ~ '.description')|trans }}</p>
			</div>
		</section>
	{% endif %}
{% endfor %}

<button type="submit" class="button small save" id="save-content">Save changes</button>

{{ form_end(form)}}

{% endblock %}