{% extends '::edit' %}

{% block form %}
	{{ form_start(form) }}
		{{ form_row(form.metaTitle) }}
		{{ form_row(form.metaDescription) }}
		{{ form_row(form.metaHtmlHead) }}
		{{ form_row(form.metaHtmlFoot) }}
		<button type="submit">Save changes</button>
	{{ form_end(form) }}
{% endblock %}