<ul class="social">
	{% if not networks.twitter.name is empty %}
	<li class="twitter">
		<a href="https://twitter.com/share?url={{ uri|e('url') }}&amp;text={{ description|e('url') }}&amp;via={{ networks.twitter.name }}">Twitter</a>
	</li>
	{% endif %}
	<li class="facebook">
		<a href="http://www.facebook.com/sharer?s=100&amp;p[url]={{ uri|e('url') }}&amp;p[images][0]={{ imageUri|e('url') }}&amp;p[title]={{ title|e('url') }}&amp;p[summary]={{ description|raw|striptags|e('url') }}">Facebook</a>
	</li>
</ul>