<ul class="social">
	{% if 'twitter' in networks %}
		<li class="twitter">
			<a href="https://twitter.com/share?url={{ uri|e('url') }}&amp;text={{ title|e('url') }}{% if not social.twitter.name is empty %}&amp;via={{ social.twitter.name }}{% endif %}">Twitter</a>
		</li>
	{% endif %}
	{% if 'facebook' in networks %}
		<li class="facebook">
			<a href="http://www.facebook.com/sharer.php?s=100&amp;p[url]={{ uri|e('url') }}&amp;p[images][0]={{ imageUri|e('url') }}&amp;p[title]={{ title|e('url') }}&amp;p[summary]={{ description|raw|striptags|e('url') }}">Facebook</a>
		</li>
	{% endif %}
	{% if 'pinterest' in networks %}
		<li class="pinterest">
			<a href="http://pinterest.com/pin/create/button/?url={{ uri|e('url') }}&amp;media={{ imageUri|e('url') }}&amp;description={{ description|raw|striptags|e('url') }}">Pinterest</a>
		</li>
	{% endif %}
	{% if 'tumblr' in networks %}
		<li class="tumblr">
			<a href="http://www.tumblr.com/share/link?url=url={{ uri|e('url') }}&amp;description={{ description|raw|striptags|e('url') }}">Tumblr</a>
		</li>
	{% endif %}
</ul>