{% block comments %}
	{% if comments | length > 0 %}
		<ul>
		{% for comment in comments %}
			{% if comment.isApproved or (comment.isPending() and comment.isByUser(user.id)) %}
				<li>
					<div class="meta">
						{{ render(controller('Message:Mothership:CMS::Controller:Module:Blog:Avatar#renderAvatar', {
							'comment': comment,
							'size'   : 50,
						})) }}
						{% if comment.website %}
							<p><a href="{{ comment.website }}">{{ comment.getName }}</a></p>
						{% else %}
							<p>{{ comment.getName }}</p>
						{% endif %}
						<p>{{ comment.createdAt | date("F jS \\a\\t g:ia") }}</p>
					</div>
					{% if comment.isPending() and comment.isByUser(user.id) %}
						<p class="status"><em>{{ 'ms.cms.blog_comment.pending'|trans }}</em></p>
					{% endif %}
					<p>{{ comment.content | nl2br }}</p>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}