{% extends 'Message:Mothership:CMS::dashboard' %}

{% block slideAttr 'data-slide-loaded' %}

{% block slide %}
<hgroup class="title">
	<h1>{{ 'ms.cms.create.page-title'|trans }}</h1>
</hgroup>

<div class="container-content create-page extended">
	{{ form_start(form) }}

	{{ form_row(form.title) }}
	{{ form_row(form.parent) }}
	{{ form_label(form.type) }}
	{% for type in form.type %}
	<label class="option-block">
		{{ form_widget(type) }}
		<p class="type">{{ type.vars.label }}</p>
		<p>{{ types.get(type.vars.value).getDescription }}</p>
	</label>
	{% endfor %}
	{{ form_row(form.type) }}

	<button type="submit" class="button small save" id="save-content">{{ 'ms.cms.create.button.save'|trans }}</button>

	{{ form_end(form) }}
</div>
{% endblock %}