{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Sidebar#index'))}}
{% endblock %}

{% block main %}
<hgroup class="title">
	<h1>{{ 'ms.cms.create.page-title'|trans }}</h1>
</hgroup>

<div class="container-content create-page extended">
	{{ form_start(form) }}

	{{ form_row(form.title) }}

	{{ form_label(form.type) }}
	{% for type in form.type %}
	<label class="option-block">
		{{ form_widget(type) }}
		<p class="type"><strong>{{ type.vars.label }}</strong></p>
		<p>{{ types.get(type.vars.value).getDescription }}</p>
	</label>
	{% endfor %}

	{{ form_row(form.type) }}

	{{ form_row(form.parent) }}

	<button type="submit" class="button small save">{{ 'ms.cms.create.button.save'|trans }}</button>

	{{ form_end(form) }}
</div>
{% endblock %}