{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Sidebar#index', {'currentPageID':page.id}))}}
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1 data-title>{{ page.title }}</h1>
		<h2>{{ page.type.getDisplayName() }}</h2>
	</hgroup>

	<form class="edit-title" data-title-edit action="{{ url('ms.cp.cms.edit.action',{pageID: page.id}) }}" method="post" {% if page.isHomepage %}data-confirm="{{ 'ms.cms.content.home.confirm'|trans }}"{% endif %}>

		<label for="edit-title">{{ 'ms.cms.edit.title.label'|trans }}</label>
		<input type="text" name="edit[title]" id="edit-title" value="{{ page.title }}" />

		<button type="submit" id="edit-submit" value="{{ 'ms.cms.edit.button.title'|trans }}" class="button update small">{{ 'ms.cms.edit.button.title'|trans }}</button>
	</form>

	<div class="topbar">
		{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Edit#tabs'))}}

		<div class="controls">
			{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Delete#renderForm', {pageID: page.id})) }}
			<div class="publish">
				{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Publishing#renderForm', {pageID: page.id})) }}
			</div>
			<a href="{{ url('ms.cms.frontend', { slug: page.slug|trim('/') ?: '/' }) }}" class="button small preview">{{ 'ms.cms.edit.button.view'|trans }}</a>
		</div>
	</div>

	<section class="container-content">
		{% block form %}{% endblock %}
		<secton class="widget-sidebar">
			{% block widgets %}{% endblock %}
		</secton>
	</section>
{% endblock %}