{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Sidebar#index', {'currentPageID':page.id}))}}
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1 data-title>{{ page.title }}</h1>
		<h2>{{ page.type.getDisplayName() }}</h2>
	</hgroup>

	<form class="edit-title" data-title-edit action="{{ url('ms.cp.cms.edit.action',{pageID: page.id}) }}" method="post">

		<label for="edit-title">Title</label>
		<input type="text" name="edit[title]" id="edit-title" value="{{ page.title }}" />

		<button type="submit" id="edit-submit" value="Update Title" class="button update small">Update Title</button>
	</form>

	<div class="topbar">
		{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Edit#tabs'))}}

		<div class="controls">
			<form action="{{ url('ms.cp.cms.delete',{pageID: page.id}) }}" method="post" data-confirm="Are you sure you want to delete this page?" id="delete-page">
				<input type="hidden" name="method" value="DELETE">
				<button type="submit" id="edit-submit" value="Delete page" class="button small delete">Delete page</button>
			</form>
			<div class="publish">
				{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Publishing#renderForm', {pageID: page.id})) }}
			</div>
			<a href="{{ url('ms.cms.frontend', {slug:page.slug.getFull}) }}" class="button small preview">View page</a>
		</div>
	</div>

	<section class="container-content">
		{% block form %}{% endblock %}
		<secton class="widget-sidebar">
			{% block widgets %}{% endblock %}
		</secton>
	</section>
{% endblock %}