<div class="button button-group small dropdown">
	{% if isPublished %}
		<a href="{{ url('ms.cp.cms.edit.unpublish', {pageID: page.id}) }}" {% if page.slug == '/' %}data-confirm="{{ 'ms.cms.content.home.confirm'|trans }}"{% endif %}>{{ 'ms.cms.publish.action.unpublish'|trans }}</a>
	{% else %}
		<a href="{{ url('ms.cp.cms.edit.publish', {pageID: page.id}) }}" {% if page.slug == '/' %}data-confirm="{{ 'ms.cms.content.home.confirm'|trans }}"{% endif %}>{{ 'ms.cms.publish.action.publish'|trans }}</a>
	{% endif %}

	<span class="dropdown-toggle" data-toggle="dropdown"></span>

	<div class="dropdown-menu">
		{% if page.slug == '/' %}
			{{ form_start(form, {'attr': {'data-confirm': 'ms.cms.content.home.confirm'|trans}}) }}
		{% else %}
			{{ form_start(form) }}
		{% endif %}

			<div class="wrap">
				<div class="date-time">
					{{ form_row(form.publish_date) }}
				</div>
				<div class="date-time">
					{{ form_row(form.unpublish_date) }}
				</div>
				<button name="schedule[save]" type="submit" class="button small update" value="{{ 'ms.cms.publish.button.save'|trans }}">
					{{ 'ms.cms.publish.button.save'|trans }}
				</button>
			</div>
		{{ form_end(form) }}
	</div>
</div>

