{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Sidebar#index'))}}
{% endblock %}

{% block main %}
	<hgroup class="title"><h1>Search Results</h1></hgroup>
	<div class="container-content">
		{% if pages|length %}
		<ul class="search-results">
		{% for page in pages %}
			<li>
				<a href="{{ url('ms.cp.cms.edit', {pageID: page.id}) }}">
					{{ page.title }}
				</a>
<!-- 				<p>{{ page.excerpt|raw }}</p> -->
			</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>{{ 'Sorry we couldn\'t find any results'|trans }}</p>
		{% endif %}
	</div>
{% endblock %}