{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Sidebar#index'))}}
{% endblock %}

{% block main %}
<hgroup class="title">
	<h1>Create a new page</h1>
</hgroup>

<div class="container-content create-page">
	{{ form_start(form) }}

	{{ form_row(form.title) }}

	{{ form_label(form.type) }}
	{% for type in form.type %}
	<section class="option-block">
		{{ form_widget(type) }}
		{{ form_label(type) }}
		<p>{{ types.get(type.vars.value).getDescription }}</p>
	</section>
	{% endfor %}

	{{ form_row(form.type) }}

	{{ form_row(form.parent) }}

	<button type="submit">Create page</button>

	{{ form_end(form) }}
</div>
{% endblock %}