{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Sidebar#index'))}}
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1>{{ page.title }}</h1>
		<h2>{{ page.type.getDisplayName() }}</h2>
	</hgroup>

	<form class="edit-title" action="{{ url('ms.cp.cms.edit.action',{pageID: page.id}) }}" method="post">

		<label for="edit-title">Title</label>
		<input type="text" name="edit[title]" id="edit-title" value="{{ page.title }}" />

		<button type="submit" id="edit-submit" value="Update Title">Update Title</button>
	</form>

	<div class="topbar">
		{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Edit#tabs'))}}

		<form action="{{ url('ms.cp.cms.delete',{pageID: page.id}) }}" method="post">
			<input type="hidden" name="method" value="DELETE">
			<button type="submit" id="edit-submit" value="Delete page">Delete page</button>
		</form>
	</div>

	<div class="publish">
	{{ render(controller('Message:Mothership:CMS::Controller:ControlPanel:Publishing#renderForm', {pageID: page.id})) }}
	</div>

	<section>
		{% block form %}{% endblock %}
	</section>
{% endblock %}