{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:CMS::Controller:Sidebar#index'))}}
{% endblock %}

{% block main %}
	<hgroup>
		<h1>{{ page.title }}</h1>
		<h2>{{ page.type.getDisplayName() }}</h2>
	</hgroup>

	<form action="{{ url('ms.cp.cms.edit.action',{pageID: page.id}) }}" method="post">

		<label for="edit-title">Title</label>
		<input type="text" name="edit[title]" id="edit-title" value="{{ page.title }}" />

		<button type="submit" id="edit-submit" value="Update Title">Update Title</button>
	</form>

	<ul class="tabs">
		<li><a href="{{ url('ms.cp.cms.edit.content', {pageID: page.id}) }}">Content</a></li>
		<li><a href="{{ url('ms.cp.cms.edit.attributes', {pageID: page.id}) }}">Attributes</a></li>
		<li><a href="{{ url('ms.cp.cms.edit.metadata', {pageID: page.id}) }}">Meta details</a></li>
	</ul>

	<form action="{{ url('ms.cp.cms.delete',{pageID: page.id}) }}" method="post">
		<input type="hidden" name="method" value="DELETE">
		<button type="submit" id="edit-submit" value="Delete page">Delete page</button>
	</form>

	{{ render(controller('Message:Mothership:CMS::Controller:Publishing#renderForm', {pageID: page.id})) }}

	<section>
		{% block form %}{% endblock %}
	</section>
{% endblock %}