{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:CMS::Controller:Sidebar#index'))}}
{% endblock %}

{% block main %}

	{{ render(controller('Message:Mothership:CMS::Controller:Publishing#renderForm', {
		pageID: page.id
	})) }}

	<h1>Editing {{ page.title }}</h1>
	<form action="{{ url('ms.cp.cms.edit.process',{pageID: page.id}) }}" method="post">

		<label for="edit-title">Title</label>
		<input type="text" name="edit[title]" id="edit-title" value="{{ page.title }}" />

		<label for="edit-type">Page type</label>
		<select name="edit[type]" id="edit-type">
			{% for type in pageTypes %}
				<option value="{{ type.getName }}">{{ type.getName }}</option>
			{% endfor %}
		</select>

		<button type="submit" id="edit-submit" value="Edit Page">Edit Page</button>
	</form>
{% endblock %}