<div class="button group">
	{% if isPublished %}
	<a href="{{ url('ms.cp.cms.edit.unpublish', {pageID: page.id}) }}">Unpublish</a>
	{% else %}
	<a href="{{ url('ms.cp.cms.edit.publish', {pageID: page.id}) }}">Publish</a>
	{% endif %}
	<span class="dropdown">
		<i class="icon-time"></i>
	</span>
</div>

{{ form_start(form) }}
	<div class="wrap">
		<div class="date-time">
			{{ form_row(form.publish_date, {label: 'Publish at'}) }}
		</div>
		<div class="date-time">

			{{ form_row(form.unpublish_date, {label: 'Unpublish at'}) }}
		</div>
		<button name="schedule[save]" type="submit" value="Save">Save Range</button>
	</div>
{{ form_end(form) }}