<a href="{{ url('ms.cms.create')}}">Create</a>
<ul class="main-menu">
    {{ _self.menu_links(tree) }}
</ul>

{% macro menu_links(links) %}
    {% for link in links %}
        <li>
            <a href="{{ link.slug }}">{{ link.title }}</a>
            {% if link.children %}
                <ul>
                    {{ _self.menu_links(link.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}