{%  if hasPages == true %}
	<form action="" class="search">
	    <input type="search" placeholder="Search content...">
	    <button>Search</button>
	</form>
{% endif %}

<a href="{{ url('ms.cp.cms.create')}}" class="create" data-live>Add a new page</a>
<ol class="main-menu">
    {{ _self.menu_links(tree, currentPageID) }}
</ol>

{% macro menu_links(links, currentPageID) %}
    {% for link in links %}
        <li {% if link.id == currentPageID %} class="active" {% endif %} >
            <a href="{{ url('ms.cp.cms.edit', {pageID: link.id}) }}" data-live>{{ link.title }}</a>
            {% if link.children %}
                <ol>
                    {{ _self.menu_links(link.children) }}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}