<a href="{{ url('ms.cp.cms.create')}}">Create</a>

<ol class="main-menu">
    {{ _self.menu_links(tree) }}
</ol>

{% macro menu_links(links) %}
    {% for link in links %}
        <li>
            <a href="{{ url('ms.cp.cms.edit', {pageID: link.id}) }}">{{ link.title }}</a>
            {% if link.children %}
                <ol>
                    {{ _self.menu_links(link.children) }}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}