<form action="" class="search">
    <input type="search" placeholder="Search content...">
    <button>Search</button>
</form>

<a href="{{ url('ms.cp.cms.create')}}" class="create">Add a new page</a>

<ul class="main-menu">
    {{ _self.menu_links(tree) }}
</ul>

{% macro menu_links(links) %}
    {% for link in links %}
        <li>
            <a href="{{ url('ms.cp.cms.edit', {pageID: link.id}) }}"><strong>{{ link.left }}</strong> {{ link.title }} ({{ link.id }}) <strong>{{ link.right }}</strong></a>
            {% if link.children %}
                <ul>
                    {{ _self.menu_links(link.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}