{% extends '::search:layout' %}

{% block heading %}Search results for '{{ termsString }}'{% endblock %}

{% block content %}
{{ parent() }} {# Allows installation to add stuff to top of content by overriding layout file #}
{% for page in pages %}
	{% set url = url('ms.cms.frontend', {slug: page.slug|trim('/')}) %}
	<h2><a href="{{ url }}">{{ page.title }}</a></h2>
	<p><a href="{{ url }}">{{ url }}</a></p>
	<p>{{ page.excerpt }}</p>
{% else %}
	<p>No pages found.</p>
{% endfor %}
{% endblock %}

{#
<nav>
	{% if pagination.numPages > 1 %}
		{% if pagination.page > 1 %}
			<a href="{{ url('ms.cms.search', {terms: termsString, page: pagination.page-1}) }}">Prev</a>
		{% endif %}

		{% for i in 1..pagination.numPages %}
			<a href="{{ url('ms.cms.search', {terms: termsString, page: i}) }}">{{ i }}</a>
		{% endfor %}

		{% if pagination.page < pagination.numPages %}
			<a href="{{ url('ms.cms.search', {terms: termsString, page: pagination.page+1}) }}">Next</a>
		{% endif %}
	{% endif %}
</nav>
#}