{% extends '::search:layout' %}

{% block heading %}Search results for '{{ termsString }}'{% endblock %}

{% block content %}
{{ parent() }} {# Allows installation to add stuff to top of content by overriding layout file #}

<ul class="search-results">
{% for page in pages %}
	<li>
		{% set url = url('ms.cms.frontend', {slug: page.slug|trim('/')}) %}
		<a href="{{ url }}">
			<h2>{{ page.title }}</h2>
			<span class="url">{{ url }}</span>
			<p>{{ page.excerpt }}</p>

			{% if page.content.product %}
				{{ getResizedImage(page.content.product.product.product.image, 135, 200) }}
			{% endif %}
		</a>
	</li>
{% else %}
	<li class="no-result">
		<p>No pages found.</p>
	</li>
{% endfor %}
</ul>
{% endblock %}

{#
<nav>
	{% if pagination.numPages > 1 %}
		{% if pagination.page > 1 %}
			<a href="{{ url('ms.cms.search', {terms: termsString, page: pagination.page-1}) }}">Prev</a>
		{% endif %}

		{% for i in 1..pagination.numPages %}
			<a href="{{ url('ms.cms.search', {terms: termsString, page: i}) }}">{{ i }}</a>
		{% endfor %}

		{% if pagination.page < pagination.numPages %}
			<a href="{{ url('ms.cms.search', {terms: termsString, page: pagination.page+1}) }}">Next</a>
		{% endif %}
	{% endif %}
</nav>
#}