{% block ms_file_widget %}
	{% spaceless %}
		<div data-modal="{{ url('ms.cp.file_manager.modal.index') }}" data-file-widget{% if allowed_types %} data-file-allowed-types="{{ allowed_types|join(',') }}"{% endif %}>
			{{ block('choice_widget') }}
		</div>
	{% endspaceless %}
{% endblock ms_file_widget %}

{% block ms_slug_widget %}
	{% spaceless %}
		<div class="slug">
			<p>
				/{% for segment in value %}{% if not loop.last %}{{ segment }}/{% endif %}{% endfor %}
			</p>
			{%  for i, segment in value %}
				{%  if loop.last %}
					<input name="{{ full_name }}[{{ i }}]" type="text" {{ block('widget_attributes') }} value="{{ segment }}"/>
				{%  else %}
					<input name="{{ full_name }}[{{ i }}]" type="hidden" value="{{ segment }}" />
				{% endif %}
			{%  endfor %}
		</div>
	{% endspaceless %}
{% endblock ms_slug_widget %}