{% block ms_file_widget %}
	{% spaceless %}
		<div data-modal="{{ url('ms.cp.file_manager.modal.index') }}" data-file-widget{% if allowed_types %} data-file-allowed-types="{{ allowed_types|join(',') }}"{% endif %}>
			{{ block('choice_widget') }}
		</div>
	{% endspaceless %}
{% endblock ms_file_widget %}

{% block slug_widget %}
	{% spaceless %}
		<div class="slug">
			{% if pre_slug_string is not empty %}<p>{{ pre_slug_string }}</p>{%  endif %}
			{%  for key, slug_val in pre_slug_value %}
				<input name="{{ full_name }}[]" type="hidden" value="{{ slug_val }}" />
			{% endfor %}
			<input name="{{ full_name }}[]" type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
		</div>
	{% endspaceless %}
{% endblock slug_widget %}