<div class="module portrait recent-list">
	<h2 class="title">
		Content
	</h2>
	<div class="wrap">
		<h3>Recently added/edited</h3>
		<ol>
			{% for item in updated %}
				<li>
					<time>{{ item.updated_at|date }}</time>
					<a href="#">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ol>
		<hr>
		<h3>Recently deleted</h3>
		<ol>
			{% for item in deleted %}
				<li>
					<time>{{ item.updated_at|date }}</time>
					<span>{{ item.title }}</span>
					<a class="restore button small" href="{{ url('ms.cp.cms.restore', {pageID: item.id}) }}" data-confirm>Restore</a>
				</li>
			{% endfor %}
		</ol>
	</div>
</div>