{% extends '::edit' %}

{% block form %}
{{ form_start(form) }}
{{ form_row(form.slug) }}

{{ form_row(form.visibility_search) }}
{{ form_row(form.visibility_menu) }}
{{ form_row(form.visibility_aggregator) }}

{{ form_row(form.access) }}
{{ form_row(form.access_groups) }}

{{ form_row(form.parent) }}
{{ form_row(form.siblings) }}

<button type="submit" class="button small save" id="save-content">{{ 'ms.cms.attributes.button.save'|trans }}</button>

<section class="group">
	<h2 class="title">{{ 'ms.cms.attributes.authorship.heading'|trans }}</h2>
	<div class="content">
		<dl>
			<dt>{{ 'Created by'|trans }}</dt>
				<dd>{{ page.authorship.createdUser.name }} {{ 'at'|trans }} {{ page.authorship.createdAt|date }}</dd>
			{% if page.authorship.updatedAt is not null %}
			<dt>{{ 'Updated by'|trans }}</dt>
				<dd>{{ page.authorship.updatedUser.name }} {{ 'at'|trans }} {{ page.authorship.updatedAt|date }}</dd>
			{% endif %}
		</dl>
	</div>
</section>

{{ form_end(form) }}

{% endblock %}