{% extends '::edit' %}

{% block form %}
{{ form_start(form) }}
{{ form_row(form.slug) }}

{{ form_row(form.visibility_search) }}
{{ form_row(form.visibility_menu) }}
{{ form_row(form.visibility_aggregator) }}

{{ form_row(form.access) }}
{{ form_row(form.access_groups) }}

{{ form_row(form.parent) }}
{{ form_row(form.siblings) }}

<button type="submit" class="button small save" id="save-content">{{ 'ms.cms.attributes.button.save'|trans }}</button>


<div class="authorship">
	<h2>{{ 'ms.cms.attributes.authorship.heading'|trans }}</h2>

	<dl>
		<dt>{{ 'Created'|trans }}</dt>
			<dd>{{ 'at'|trans }} {{ page.authorship.createdAt|date('h:ia \\o\\n d/m/y') }} {{ 'by'|trans }} {{ page.authorship.createdBy }}</dd>
		{% if page.authorship.updatedAt is not null %}
		<dt>{{ 'Updated'|trans }}</dt>
			<dd>{{ 'at'|trans }} {{ page.authorship.updatedAt|date('h:ia \\o\\n d/m/y') }} {{ 'by'|trans }} {{ page.authorship.updatedBy }}</dd>
		{% endif %}
	</dl>
</div>

{{ form_end(form) }}

{% endblock %}